@font-face {
  font-family: 'AB';
  src: url("../fonts/ArialBold.woff");
}
@media screen and (max-height: 800px) {
  .footer_block {
    bottom: 35px !important;
  }
  .content_block {
    font: 20pt/22pt 'AB' !important;
  }
  .content_block p {
    margin-bottom: 60px !important;
  }
  .bg_block {
    top: 15% !important;
    left: 15% !important;
    right: 15% !important;
    bottom: 15% !important;
    max-width: 300px !important;
    max-height: 300px !important;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #003da6;
}
.header_block {
  width: 100%;
  z-index: 0;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
}
.header_block .logo {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.header_block .logo.active {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.bg_block {
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  margin: auto;
  cursor: pointer;
  max-width: 600px;
  max-height: 600px;
  -webkit-perspective: 1000;
          perspective: 1000;
}
.bg_block .bg_pattern {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3.9s;
          animation-duration: 3.9s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.bg_block.blur {
  cursor: default;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}
.content_block {
  color: #fff;
  display: none;
  font: 40pt/42pt 'AB';
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 9999;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content_block p {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.content_block.show {
  display: block;
}
.footer_block {
  position: fixed;
  z-index: 0;
  bottom: 55px;
  text-align: center;
  width: 100%;
}
.footer_block.scroll a {
  -webkit-filter: blur(1px) invert(100%);
          filter: blur(1px) invert(100%);
}
.footer_block a {
  margin-right: 25px;
  display: inline-block;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-filter: blur(0px) invert(100%);
          filter: blur(0px) invert(100%);
}
.footer_block a:hover {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-filter: blur(1px) invert(100%);
          filter: blur(1px) invert(100%);
}
.footer_block a img {
  width: 25px;
}
.footer_block a:last-child {
  margin-right: 0;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}
