@font-face {
  font-family: 'DinPro M';
  src: url("../fonts/dinpro-medium.otf");
}
@font-face {
  font-family: 'DinPro MI';
  src: url("../fonts/dinpro-medium-italic.otf");
}
@font-face {
  font-family: 'DinPro B';
  src: url("../fonts/dinpro-bold.otf");
}
@font-face {
  font-family: 'DinPro BI';
  src: url("../fonts/dinpro-bold-italic.otf");
}
@media screen and (max-width: 800px) {
  .footer_block {
    bottom: 35px !important;
  }
  .content_block p {
    margin-bottom: 40px !important;
  }
  .bg_block {
    top: 15% !important;
    left: 15% !important;
    right: 15% !important;
    bottom: 15% !important;
    max-width: 300px !important;
    max-height: 300px !important;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #003da6;
}
.header_block {
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header_block.scroll {
  position: relative;
}
.header_block .logo {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.header_block .logo.active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  cursor: default;
}
.header_block .logo.active:hover {
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.bg_block {
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  margin: auto;
  cursor: pointer;
  max-width: 600px;
  max-height: 600px;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-tap-highlight-color: transparent;
}
.bg_block .bg_pattern {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3.9s;
          animation-duration: 3.9s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.bg_block.blur {
  cursor: default;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}
.content_block {
  position: relative;
  z-index: 99999;
  color: #fff;
  display: none;
  max-width: 780px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content_block .content_section {
  margin-bottom: 80px;
}
.content_block .content_section .invert {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.content_block .content_section .section_title {
  margin-bottom: 40px;
  text-align: center;
  font: 40pt/46pt 'DinPro BI';
  font-style: italic;
}
.content_block .content_section .section_columns {
  margin-bottom: 40px;
  overflow: hidden;
}
.content_block .content_section .section_columns .col_inner {
  margin-left: -20px;
  font-size: 0;
}
.content_block .content_section .section_columns .column {
  max-width: 380px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 16pt/18pt 'DinPro M';
}
.content_block .content_section .section_desc {
  font: 12pt/14pt 'DinPro M';
  text-align: center;
}
.content_block img {
  display: block;
  max-width: 120px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.content_block img:hover {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
.content_block p {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.content_block.show {
  display: block;
}
.footer_block {
  position: fixed;
  bottom: 55px;
  text-align: center;
  width: 100%;
}
.footer_block.scroll {
  padding-top: 40px;
  position: relative;
}
.footer_block a {
  margin-right: 25px;
  display: inline-block;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-filter: blur(0px) invert(100%);
          filter: blur(0px) invert(100%);
}
.footer_block a:hover {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-filter: blur(1px) invert(100%);
          filter: blur(1px) invert(100%);
}
.footer_block a img {
  width: 25px;
}
.footer_block a:last-child {
  margin-right: 0;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}
