@font-face {
	font-family: 'DinPro M';
	src: url('../fonts/dinpro-medium.otf');
}

@font-face {
	font-family: 'DinPro MI';
	src: url('../fonts/dinpro-medium-italic.otf');
}

@font-face {
	font-family: 'DinPro B';
	src: url('../fonts/dinpro-bold.otf');
}

@font-face {
	font-family: 'DinPro BI';
	src: url('../fonts/dinpro-bold-italic.otf');
}

@media screen and (max-width: 800px) {
	.footer_block {
		bottom 35px!important
	}

	// .content_block {
	// 	font 18pt/22pt 'AB'!important
	// }

	.content_block p {
		margin-bottom 40px!important
	}

	.bg_block {
		top 15%!important
		left 15%!important
		right 15%!important
		bottom 15%!important
		max-width 300px!important
		max-height 300px!important
	}
}

@keyframes spinner {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(-360deg);
	}
}

html
body
	margin 0
	padding 0
	background-color rgb(0, 61, 166)

.header_block
	width 100%
	position fixed
	z-index 9999
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	&.scroll
		position relative
	.logo
		display block
		width 100%
		max-width 500px
		margin 0 auto
		transition .2s linear
		&.active
			filter: blur(0px)
			cursor default
			&:hover
				cursor pointer
				transition .2s linear
				filter: blur(3px)

.bg_block
	position fixed
	top 25%; left 25%; right 25%; bottom 25%
	margin auto
	cursor pointer
	max-width 600px
	max-height 600px
	perspective 1000
	-webkit-tap-highlight-color: transparent;
	.bg_pattern
		width 100%
		height 100%
		position absolute
		background-position center
		background-repeat no-repeat
		background-size contain
		animation-name spinner
		animation-timing-function linear
		animation-iteration-count infinite
		animation-duration 3.9s
		transform-style preserve-3d
	&.blur
		cursor default
		filter: blur(15px)

.content_block
	position relative
	z-index 99999
	color white
	display none
	max-width 780px
	margin 0 auto
	margin-top 40px
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	// background-image: linear-gradient(30deg, #003DA6, #FFFFFF, #003DA6, #FFFFFF, #003DA6, #FFFFFF);
	// -webkit-background-clip: text
	// -webkit-text-fill-color: transparent
	.content_section
		margin-bottom 80px
		.invert
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: white;
		.section_title
			margin-bottom 40px
			text-align center
			font 40pt/46pt 'DinPro BI'
			font-style: italic;
		.section_columns
			margin-bottom 40px
			overflow hidden
			.col_inner
				margin-left -20px
				font-size 0
			.column
				max-width 380px
				display inline-block
				vertical-align top
				padding-left 20px
				box-sizing border-box
				font 16pt/18pt 'DinPro M'
		.section_desc
			font 12pt/14pt 'DinPro M'
			text-align center

	img
		display block
		max-width 120px
		margin 0 auto
		cursor pointer
		transition .2s linear
		&:hover
			transition .2s linear
			filter: blur(3px)
	p
		margin 0
		padding 0
		margin-bottom 80px
	&.show
		display block

.footer_block
	position fixed
	bottom 55px
	text-align center
	width 100%
	&.scroll
		padding-top 40px
		position relative
	a
		margin-right 25px
		display inline-block
		transition .2s linear
		filter: blur(0px) invert(100%)
		&:hover
			transition .2s linear
			filter: blur(1px) invert(100%)
		img
			width 25px
		&:last-child
			margin-right 0