doctype html
html
	head
		title TUNDRA UNKNOWN
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/jquery-3.3.1.min.js')
		script(type='text/javascript', src='js/vanilla-tilt.min.js')
		script(type='text/javascript', src='js/jquery.touchSwipe.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.header_block: img.logo(src='img/tun_logo.svg')

		.bg_block: .bg_pattern(style='background-image: url(img/tun_pattern.svg)')

		.content_block

			.content_section
				.section_title!= 'ТЕРРИТОРИЯ <span class="invert">UNKNOWN</span>'
				.section_columns: .col_inner
					.column Место, где все новое несет открытия. Неизвестные технологии дают новые возможности и пути исследовать мир вокруг себя.
					.column Неожиданное приключение покажет, кто ты на самом деле, что ты думаешь, чувствуешь наедине с природой.
				.section_desc
					| Неизвестные символы и знаки рассказывают свои глубинные смыслы через природу.
					br
					| Грозы стирают дистанцию, открывая путь к внешней и внутренней свободе. Вода символизирует смелые перемены внутри себя, проходя трансформацию от жидкости без формы до прочного льда, меняясь от тихого океана к разрушительному шторму. А камень может стать надежной опорой, непреодолимым препятствием или произведением искусства в ваших руках. Ветер может путать твои волосы или раздувать паруса и вести к цели.

			.content_section
				.section_title!= 'МУЗЫКА<br>ДИДЖИТАЛ-<span class="invert">ИНСТАЛЯЦИИ, ВИДЕО</span>-АРТ'
				.section_columns: .col_inner
					.column Собирай впечатления визуально, тактильно и аудиально.
					.column Пространство вокруг кажется чистым, здесь нет ничего лишнего, ты сам можешь добавлять в него образы, звуки и ощущения.
				.section_desc
					| Все ждет твоего внимания, но как распорядиться
					br
					| временем и как интерпретировать
					br
					| решаешь только ты.

			.content_section
				.section_title!= '<span class="invert">МИССИЯ<br>TUNDRA</span> UNKNOWN'
				.section_columns: .col_inner
					.column Поддерживать новую среду, в которой независимая культура будет развиваться и находить своих агентов в актуально процессе, обмениваясь идеями и чувствами.
					.column TUNDRA UNKNOWN — возможность для активной коммуникации акторов, выходящих за рамки субъектного мировоззрения.
				.section_desc
					| Луч света говорит с вами, а вы влияете на миллиарды атомов вокруг,
					br
					| электромагнитные волны отражаются от лесов, которые впитывают влагу
					br
					| пост-цифровой реальности.

			img.logo(src='img/tun_logo_alt.svg')

		.footer_block
			a(href='#'): img(src='img/social/facebook.svg')
			a(href='#'): img(src='img/social/instagram.svg')
			a(href='#'): img(src='img/social/vk.svg')